* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
    font-size: 18px;
    line-height: 1;
    place-content: center;
    display: grid;

}

img {
    max-width: 100%;
    display: block;
}

[id~=card] {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
}

.x-large {
    font-size: 4.25rem;
    font-weight: 600;
}

.large {
    font-size: 2.5rem;
    font-weight: 600;
}

.mid {
    font-size: 2.15rem;
    font-weight: 600;
}

.small {
    font-size: 1.5rem;
    font-weight: 500;
}

.grid-container {
    max-width: 1440px;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 75px);
    gap: 2rem;
    grid-template-areas:
        "create social social media"
        "create social social media"
        "create social social media"
        "create social social media"
        "create manage maintain media"
        "write manage maintain media"
        "write manage maintain media"
        "write percent grow grow"
        "write percent grow grow"
        "write percent grow grow";

}

.create {
    grid-area: create;
    background-color: var(--Yellow-100);

    padding: 5rem 2rem 7rem 2rem !important;
}

.create div {
    max-width: 12rem;
    letter-spacing: -2px;
}

.create .large em {
    font-style: italic;
    color: var(--Purple-500);
}

.create img {
    margin-top: 2rem;
}

.social {
    grid-area: social;
    background-color: var(--Purple-500);
    padding: 3rem;
    text-align: center;
    font-weight: 500;
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social .x-large .emphasis {
    color: var(--Yellow-500);
}

.social img {
    width: 250px;
    margin: 1rem 0 0.5rem;
}

.media {
    grid-area: media;
    background-color: var(--Purple-100);
    padding: 1.75rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.media img {
    position: absolute;
    top: 13rem;
    margin-left: 4rem;
    transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -o-transform: scale(1.4, 1.4);
}

.write {
    grid-area: write;
    background-color: var(--Yellow-500);
    padding: 1.75rem 1.65rem;
}

.write img {
    margin-top: 4rem;
}

.write p {
    max-width: 200px;
    letter-spacing: -2px;
}

.manage {
    grid-area: manage;
    background-color: var(--White);
    padding: 1rem 2rem;
    position: relative;
}

.manage p {
    margin-top: 7rem;
    max-width: 15.625rem;
}

.manage img {
    margin-top: 1rem;
    position: absolute;
}

.maintain {
    grid-area: maintain;
    background-color: var(--Yellow-500);
    position: relative;
    padding: 2rem;

}

.maintain img {
    position: relative;
    top: 10rem;
    margin-top: -9rem;
}


.maintain p {
    top: -1rem;
}

.percent {
    grid-area: percent;
    background-color: var(--White);
    padding: 1.5rem;
}

.percent span {
    display: block;
    margin-bottom: 1rem;
}

.percent img {
    margin-top: 1.5rem;
}

.grow {
    grid-area: grow;
    color: var(--White);
    background-color: var(--Purple-500);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    gap: 1rem;

}

.grow img {
    margin-left: 1rem;
    width: 90%;
}


@media (max-width:1024px) {
    .grid-container {
        grid-template-rows: initial;
        grid-template-areas:
            "create create social social"
            "create create social social"
            "media media write write"
            "media media write write"
            "manage manage maintain maintain"
            "manage manage maintain maintain"
            "percent percent grow grow"
            "percent percent grow grow";
    }

    .write {
        grid-template-columns: 1fr;
    }
}

@media (max-width:768px) {
    [id~=card] {
        text-align: center;
    }

    .grid-container {
        grid-template-rows: initial;
        grid-template-areas:
            "social"
            "manage"
            "maintain"
            "media"
            "grow"
            "percent"
            "create"
            "write"
    }

    .media img {
        top: initial;
    }

    .media,
    .write,
    .manage,
    .maintain,
    .percent {
        text-align: left;
    }

    .manage {
        padding: 2rem;
    }


    .maintain img {
        top: 4rem;
        margin-top: -3rem;
    }

    .maintain p {
        max-width: 25rem;
    }

    .media img {
        position: relative;
        width: initial;
        margin: 1rem 0;
        height: initial;
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
    }

    .media {
        padding: 2.75rem 1rem 2.5rem 1rem;
    }

    .media .large {
        font-size: 2.25rem;
    }


    .create {
        padding: 2rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .create .large {

        max-width: initial;
        font-size: 2.5rem;
    }

    .create img {
        width: 250px;
    }

    .manage p {
        margin-top: 10rem;
    }

    .grow {
        grid-template-columns: initial;
        padding: 1.5rem 4rem;
    }

    .write p {
        max-width: 20rem;
    }
}

@media (max-width:540px) {
    .manage p {
        margin-top: 6rem;
    }

    .media img {
        position: relative;
        width: initial !important;
        object-fit: initial !important;
        object-position: initial !important;
        top: auto !important;
    }

}